@model IEnumerable<Client.Models.AccountStaff>

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>List</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.userName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pass_word)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.role_)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.userName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pass_word)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.role_)
        </td>

    </tr>
}

</table>
