@using Client.Models
@model IEnumerable<Client.Models.Detail>
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    var infoCustomer = ViewBag.Model as List<getCustomerForDetail_Result>;
}

<header class="w3-container" style="padding-top:22px">
    <h5><b><i class="fa fa-dashboard"></i> My Dashboard</b></h5>
</header>
@if (ViewBag.UpdateSuccess != null)
{
    <script type="text/javascript">
        alert("Update Success")
    </script>
}
<div class="w3-row-padding w3-margin-bottom">
    <div class="w3-quarter">
        <div class="w3-container w3-red w3-padding-16">
            <div class="w3-left"><i class="fa fa-comment w3-xxxlarge"></i></div>
            <div class="w3-right">
                <h3>52</h3>
            </div>
            <div class="w3-clear"></div>
            <h4>Messages</h4>
        </div>
    </div>
    <div class="w3-quarter">
        <div class="w3-container w3-blue w3-padding-16">
            <div class="w3-left"><i class="fa fa-eye w3-xxxlarge"></i></div>
            <div class="w3-right">
                <h3>99</h3>
            </div>
            <div class="w3-clear"></div>
            <h4>Views</h4>
        </div>
    </div>
    <div class="w3-quarter">
        <div class="w3-container w3-teal w3-padding-16">
            <div class="w3-left"><i class="fa fa-share-alt w3-xxxlarge"></i></div>
            <div class="w3-right">
                <h3>23</h3>
            </div>
            <div class="w3-clear"></div>
            <h4>Shares</h4>
        </div>
    </div>
    <div class="w3-quarter">
        <div class="w3-container w3-orange w3-text-white w3-padding-16">
            <div class="w3-left"><i class="fa fa-users w3-xxxlarge"></i></div>
            <div class="w3-right">
                <h3>50</h3>
            </div>
            <div class="w3-clear"></div>
            <h4>Users</h4>
        </div>
    </div>
</div>
<div class="w3-container">
    <h5>Feeds</h5>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr class="table-secondary">
                    <th>No.</th>
                    <th style="width:20%">Name</th>
                    <th>Phone</th>
                    <th>Email</th>
                    <th>Start</th>
                    <th>End</th>
                    <th>Earn</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.id</td>
                    <td>@infoCustomer.Find(t => t.idDetail == item.id).headName</td>
                    <td>@infoCustomer.Find(t => t.idDetail == item.id).headPhone</td>
                    <td>@infoCustomer.Find(t => t.idDetail == item.id).headEmail</td>
                    <td>@String.Format("{0:d}",item.startDate.Value)</td>
                    <td>@String.Format("{0:d}",item.endDate.Value)</td>
                    <td>@item.amountMoney</td>
                    @if (item.statusOrder==0)
                    {
                        <td>
                            @Ajax.ActionLink("Accept", "AcceptReplyCustomer", "Admin", new { detail = item.id }, new AjaxOptions
                            {
                                HttpMethod = "GET",
                                InsertionMode = InsertionMode.Replace,
                                UpdateTargetId = "Content"
                            }) @Ajax.ActionLink("Deny", "DenyReplyCustomer", "Admin", new { detail = item }, new AjaxOptions
                               {
                                   HttpMethod = "GET",
                                   InsertionMode = InsertionMode.Replace,
                                   UpdateTargetId = "Content"
                               })
                        </td>
                    }else if (item.statusOrder == 1)
                    {
                        <a href="#" class="btn btn-primary btn-lg disabled" tabindex="-1" role="button" aria-disabled="true">Accept</a>
                    }else
                    { 
                        <a href="#" class="btn btn-secondary btn-lg disabled" tabindex="-1" role="button" aria-disabled="true">Deny</a>
                    }
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>
<script>
    var ShowDetail = function(detail) {

    }
</script>