@model Client.Models.AccountStaff
@{
    ViewBag.Title = "Setting";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<h2 class="bg-primary">Setting</h2>
@if (ViewBag.Error) { 
<script type="text/javascript">
    alert("Something is wrong.Check please")
</script>}
<div class="accordion" id="accordionExample">
<div class="card">
    <div class="card-header" id="headingOne">
        <h2 class="mb-0">
            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Change Information
            </button>
        </h2>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
        @using (Html.BeginForm("SettingView","Admin",FormMethod.Post,new { enctype = "multipart/form-data"}))
        {
            <div class="card-body">

                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.staff.id)
                <div class="form-group">
                    @Html.LabelFor(model => model.staff.staffName, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.staff.staffName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.staff.staffName, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.staff.staffEmail, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.staff.staffEmail, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.staff.staffEmail, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.staff.staffPhone, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.staff.staffPhone, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.staff.staffPhone, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.staff.bankCard, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.staff.bankCard, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.staff.bankCard, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Submit" class="btn btn-outline-primary" />
                    </div>
                </div>
            </div>}
    </div>
    <div class="card">
        <div class="card-header" id="headingTwo">
            <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Change Password
                </button>
            </h2>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body">
            @using (Html.BeginForm("ChangePassword", "Admin", FormMethod.Post, new {enctype = "multipart/form-data"}))
            {
                <div class="animate col-8 container border border-primary">

                    <div class="form-group">
                        <label for="Confpassword">Old Password</label>
                        <input type="password" class="form-control" name="Oldpassword" id="Oldpassword" placeholder="Enter password">
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.account.pass_word, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.account.pass_word, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.account.pass_word, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Confpassword">Confirm Password</label>
                        <input type="password" class="form-control" name="Confpassword" id="Confpassword" placeholder="Enter password">
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Submit" class="btn btn-outline-primary" />
                        </div>
                    </div>
                </div>
            }
            </div>
        </div>
    </div>
   
        <div class="card">
            <div class="card-header" id="headingThree">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Change Image
                    </button>
                </h2>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                @using (Html.BeginForm("Img","Admin",FormMethod.Post)) {
                    <div class="card-body">
                        <div class="animate col-8 container border border-primary container-fluid">
                            <div class="form-group">
                                <img src="@Url.Content(Model.imgs[0].path_)"   style="width: 200px" class="rounded mx-auto d-block" id="Image" />
                                <div class="col-md-10">
                                    <input type="file" id="imgCat" name="ImageFile" onchange="changeImage(this)"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Submit" class="btn btn-outline-primary" />
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    
</div>
</div>